body {
    background-color: #FDF2E9;
    margin: 50px;
    width: 90%;
    padding-bottom: 80px;
}
nav ul, footer ul {
    font-size: 1.3em; 
    font-family:"Trebuchet MS";
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:"Trebuchet MS";
}
h2 {
    font-size: 2em;
    font-family:"Trebuchet MS";
}
h3 {
    font-size: 1.8em;
    font-family:"Trebuchet MS";
}
p {
    font-size: 1.3em;
    line-height: 1.4em;
    color: #333;
    font-family:"Trebuchet MS";
    padding: 10px;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1em;
    width: 100%;
    float: right;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

img {
    border-radius: 25%;
    vertical-align: top;
    float: right;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 40%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer_outer{
width: 100%;
}

.footer_inner_left{
width: 49%;
float: left;
display:inline;
}

.footer_inner_right{
width: 49%;
float: right;
display:inline;
}

/* Create background image for website */
html { 
  background: url(../assets/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
